  .app{
    position: relative;
    z-index: 10;
  }
  .brand{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 35%);
    font-size: 40rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #C4DDE9;
  }
   .socials{
      display: flex;
      justify-content: center;
      margin-top: 8px;
      gap: 2rem;
    }
    /* SVG ICONS */
    .socials img{
      width: 30px;
      height: auto;
      filter: invert(1);
    }
    .socials img:hover{
      filter: invert(0);
    }

    #spotify{
      width: 45px;
      margin: -10px 5px 0;
      filter: invert(0);
    }

    #spotify:hover{
      filter: invert(1);
    }

    .highlight {
      background-color: yellow;
    }